.city-detail {
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin: auto;
}
.table-data {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: 1 / 2 / 2 / 3;
}
.title {
  font-size: 3rem;
  text-align: center;
  color: var(--text-color);
}

.image {
  width: 100%;
  height: 50vh;
  background-position: center !important;
  background-size: cover !important;
  grid-area: 1 / 1 / 2 / 2;
}
.image-alternative {
  background: url(../../assets/image-not-found-big-768x432.png);
  width: 100%;
  height: 50vh;
  background-position: center !important;
  background-size: cover !important;
  grid-area: 1 / 1 / 2 / 2;
}
table,
th,
td {
  border: 1px solid var(--text-color);
  border-collapse: collapse;
}
th,
td {
  padding: 0.8rem;
  text-align: left;
}
td {
  font-size: 1.5rem;
}
span {
  font-size: 2rem;
  color: var(--text-color);
}

@media only screen and (max-width: 800px) {
  .city-detail {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .image,
  .image-alternative {
    grid-area: 1 / 1 / 2 / 2;
  }
  .table-data {
    grid-area: 2 / 1 / 3 / 2;
    justify-content: space-around;
  }
}
