.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #0a50aa, #1888d5);
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  .container {
    min-width: 100vw;
    overflow-x: hidden;
  }
}
