.form {
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 1 / 3 / 4;
}
@media only screen and (max-width: 500px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0.5fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3 {
    grid-area: 2 / 1 / 3 / 3;
    width: 48%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .div4 {
    grid-area: 3 / 1 / 4 / 3;
  }
}

.dropdown {
  background-color: var(--content-bg);
  padding: 1rem;
  border: none;
  font-size: 1.5rem;
  color: var(--text-color);
  border-radius: 0.5rem;
}
.dropdown:focus {
  outline: none;
}
.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  font-size: 2rem;
  margin: 2rem;
  cursor: pointer;
  border-bottom: 1px solid white;
}
