*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----------------------------------------------------------- */
:root {
  font-size: 62.5%; /*This sets 1rem = 10px */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  /* Creating color variables */
  --main-color: #0a50aa;
  --secondary-color: #1888d5‌;
  --content-bg: #202020;
  --text-color: #eee;
  --border: 1px solid #eee;
}
